#reset-password-wrapper {
    height: 100%;
    font-family: Montserrat;
}
#reset-logo-wrapper {
    width: 100%;
    height: 58px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#reset-heading {
    width: 85vw;
    margin: 0 auto;
}
#reset-heading h1{
    font-weight: 600;
    font-size: 20px;
    margin-top: 7vh;
}
#reset-heading p {
    font-weight: normal;
    font-size: 12px;
    margin-top: 8vh ;
}
#login-input p{
    color: black;
}
#login-input input{
    border: 1px solid #ABABAB;
    border-radius: 2px;
}
#reset-btn-wrapper input{
    display: block;
    margin: 0 auto;
    width: 90vw;
    color: #ffffff;
    border: 1px solid white;
    background: #34529E;
    margin-top: 5vh;
    height: 40px;
    border-radius: 3px; 
    font-weight: bold;
    font-size: 15px;
}
#reset-btn-wrapper input:focus{
    outline: none;
}

#reset-btn-wrapper a p {
    margin-top: 12px;
}
#reset-input-wrapper {
    margin-top: 5vh;
}
#reset-password-input {
    width: 90vw;
    height: 50px;
    margin-top: 4vh;
    padding: 10px;
    border: 1px solid #ABABAB;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;    
    font-size: 11px;    
    color: #ABABAB;
}